.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background-color: rgb(169, 252, 248);
    direction: rtl;
}

.content{
    color:black
}